__pycache__
*.pyc
.ipynb_checkpoints
/.env
/etc/
/TODO.md
/docker/requirements.txt

# Large files
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.dylib
*.dll
*.npy
*.npz
*.pkl
*.blend
*.blend1
media/
result/
*.log
.vscode/
.DS_Store
